@mixin center {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	overflow: hidden;
  background: #8338ec;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
	width: 100px;
	height: 100px;
 	@include center;
}

.mic {
	width: 100%;
	@include center;
}

circle {
	fill: none;
	stroke: #fff;
	stroke-width: 2px;
}

.mic svg {
	width: 50%;
	display: block;
	margin: auto;
	color: #fff;
}

input {
	width: 100px;
	height: 100px;
	opacity: 0;
	z-index: 1;
	cursor: pointer;
	@include center;
}

#click:checked ~ .center .mic {
	opacity: 0;
}

#click:checked ~ .center .dots {
	opacity: 1;
}

#click:checked ~ .center svg {
	animation: circle 5s linear infinite;
	stroke-dasharray: 251.2;
}

.dots {
	width: fit-content;
	position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%,-50%);
	opacity: 0;
}

.dot {
	border: 1px #fff solid;
	background-color: #fff;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	display: inline-block;
}

.dot:nth-of-type(1) {
	animation: bounce 0.6s ease-in-out 0.2s infinite alternate-reverse;
}

.dot:nth-of-type(2) {
	margin-left: 7px;
	margin-right: 7px;
	animation: bounce 0.6s ease-in-out 0.4s infinite alternate-reverse;
}

.dot:nth-of-type(3) {
	animation: bounce 0.6s ease-in-out 0.6s infinite alternate-reverse;
}


@keyframes bounce {
	from {
		transform: translate(0, 0);
	}
	to {
		transform: translate(0, -8px)
	}
}

@keyframes circle {
	from {
		stroke-dashoffset: 502.4;
	}
	to {
		stroke-dashoffset: 0;
		transform: rotateZ(360deg);
	}
}